# PII Masking

In [5]:
Labels = [
    # **Identifikationsnummer**
    "[ORG-NUMMER]",
    "[PERSONNUMMER]",
    "[PASSNUMMER]",             # Passport Number
    "[MEDARBETARID]",           # Employee ID

    # **Kontaktinformation**
    "[TELEFONNUMMER]",
    "[E-POST]",                 
    "[SOCIALA_MEDIER_PROFILER]",

    # **Adressinformation**
    "[ADRESS]",
    "[ADRESSHISTORIA]",         
    "[POSTNUMMER]",
    "[STAD]",                   
    "[LÄN]",                    

    # **Demografisk Information**
    "[NAMN]",
    "[FÖDELSEDAG]",
    "[FÖDELSEPLATS]",
    "[ÅLDER]",
    "[KÖN]",
    "[NATIONALITET]",           
    "[CIVILSTAND]",             

    # **Övrig Information**
    "[IP-ADRESS]",              
    "[RELIGION]",
    "[ETNICITET]",              

    # **Finansiell Information**
    "[BANKKONTONUMMER]",        # Bank Account Number
    "[KREDITKORTNUMMER]",       # Credit Card Number
    "[BANKGIRONUMMER]",         # Bankgironummer
    "[CLEARINGNUMMER]",         # Clearingnummer
    "[IBAN]",                   # International Bank Account Number
    "[BIC]",                    # Bank Identifier Code


    # **Yrkesinformation**
    "[ARBETSPLATS]",            # Arbetsplats
    "[TITEL]",                  # Jobbtitel
    "[ARBETSGIVENHET]",         # Arbetsgivar-ID
    "[ANSTÄLLNINGSTID]",        # Anställningstid
]

In [8]:
import pandas as pd

# Load the JSON dataset
df = pd.read_json('1_dataset_easy.json')

# Display the first few rows of the dataframe
df.head()

,id,text,to_mask
0,1,Hej! Jag heter Anna Svensson och vill flytta m...,"[{'label': '[NAMN]', 'value': 'Anna Svensson'}..."
1,2,"Jag har nyligen flyttat till Storgatan 12, 123...","[{'label': '[ADRESS]', 'value': 'Storgatan 12,..."
2,3,Jag vill ändra mina kontaktuppgifter. Mitt nya...,"[{'label': '[TELEFONNUMMER]', 'value': '070-12..."
3,4,Jag försökte logga in med mitt passnummer AB12...,"[{'label': '[PASSNUMMER]', 'value': 'AB1234567..."
4,5,Jag behöver uppdatera mitt bankkontonummer. De...,"[{'label': '[BANKKONTONUMMER]', 'value': 'SE98..."